<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIaxMMrsp2RQ_HCr8pRId_u0Kl5vqF17s</string>
	<key>GCM_SENDER_ID</key>
	<string>643225678537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devconapps.CheckMate</string>
	<key>PROJECT_ID</key>
	<string>checkmate-54632</string>
	<key>STORAGE_BUCKET</key>
	<string>checkmate-54632.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643225678537:ios:b54a5c3670337e6cae1318</string>
</dict>
</plist>